/* #1C313E,#77848c,#f95c3d,#FFFFFF,#f95c3d,#FFFFFF,#94E864,#f95c3d  */

/* ---------- GENERAL ---------- */
html,
body,
#desktopWrapper,
#mobileWrapper,
#rightWrapper,
#leftWrapper,
.row,
.bring,
.desktopStream,
.desktopIDE,
.desktopChat,
.mobileStream,
.desktopLog,
/*.mobileIDE,*/
.mobileChat,
/*#chatlioWidgetPlaceholder,*/
/*.textAreaDiv,*/
.container-fluid,
.carousel.slide,
.carousel-inner{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#desktopWrapper{
  display: block;
}
#mobileWrapper{
  display: none;
}
*:focus {
  outline: none;
}
/*.desktopChat{
  padding: 5px !important;
}*/
/*.desktopStream:focus,
.desktopIDE:focus,
.desktopChat:focus{
  background-color: #f95c3d;
}*/

/* ---------- VIDEO STREAM SECTION ---------- */

.desktopStream iframe,
.mobileStream iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.desktopStream iframe{
  height: 100%;
}
.desktopStream{
  /*background-color: yellow;*/
  height: 50%;
}


/* ---------- CHAT SECTION ---------- */

.desktopChat{
  background-color: #1C313E;
  height: 50%;
}
#chatlioWidgetPlaceholder{
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  /*background: pink;*/
  height: 100%;
  width: 100%;
  padding: 5px;
  font-family: input;
}
.chatlio-title-bar{
  background-color: #77848c !important;
}
.chatlio-online-dot{
  color: #94E864 !important;
  /*border: 1px solid black !important;*/
  /*border-radius: 100px;*/
}
.chatlio-message-container{
  background-color: #1c313e !important;
}
.chatlio-message-from-me > .chatlio-message-content{
  background-color: #10232e !important;
  /*border: 1px solid orange !important;*/
  border: none !important;
}
.chatlio-message-from-me > .chatlio-message-content span{
  color: #E9E9E9 !important;
}
.chatlio-message-from-them > .chatlio-message-content{
  background-color: #10232e !important;
  /*border: 1px solid yellow !important;*/
  border: none !important;
}
.chatlio-message-from-them > .chatlio-message-content span{
  color: #f95c3d !important;
}
.chatlio-new-message-container{
  border-top: 1px solid #35434F !important;
  background-color: #10232e !important;
  bottom: 0 !important;
}
.chatlio-powered-by{
  display: none !important;
}
#chatlio-widget textarea{
  border: 1px solid #77848c !important;
  background-color: #E9E9E9 !important;
}
.chatlio-widget.embed-inline{
  border: none !important;
  /*border-top: 1px solid white !important;*/
}
/*.ace_scrollbar.ace_scrollbar-v{
  background: white;
}
.ace_scrollbar.ace_scrollbar-v{
  background: transparent;
}*/








/* ---------- IDE SECTION ---------- */

.textAreaDiv{
  /*padding: 5px;*/
  height: 100%;
}
.desktopIDE{
  padding: 5px !important;
}
.desktopIDE{
  background-color: #10232e;
  height: 65%;
  border-left: 1px solid #000;
  /*padding: 1px;*/
}
.desktopLog{
  background-color: #1C313E;
  height: 35%;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
/*.containerDeviceradio:last_child{
  overflow: scroll;
}*/
.desktopLog > .desktopLog > button{
  margin-left: 6px;
}
#editor { 
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  min-width:500px;
  min-height:200px;
}
.myMarker {
  position:absolute;
  background:rgba(255, 0, 0, 1);
  z-index:20
}
.key {
  color: #657b83;
}
.number {
  color: #dc322f;
}
.string {
  color: #2aa198;
}
.null {
  color: #b58900;
}
.boolean {
  color: #cb4b16;
}
pre {
  padding: 1em 0;
  word-wrap: break-word;
}

/* this wrapper is causing white space when swiping on mobile phone */
.wrap {
  /*border-style: solid none none none;*/
  background-color: #1c313e;
  border: none;
  border-top: 1px solid #35434F;
  /*border-width: 1px;*/
  /*border-color: #073642;*/
  /*border-color: yellow;*/
  margin: 15px 0;
  padding: 0;
  width: 100%;
}
.containerDeviceradio:last-child{
  margin: 0;
  overflow: hidden;
}
.right {
  width: auto;
  margin-top: 0;
  margin-left: 80px;
  margin-right: 0;
}
.left {     
  width: 60px;
  margin-top: 0;
  margin-left: 0;
  margin-right: -60px;
  float: left;
  text-align: right;
  padding-right: 10px;
  background-color: #073642;
}
code {
  font-family: Input, "Lucida Console", Monaco, monospace;
  font-size: 1em;
  -moz-tab-size: 4;
  -o-tab-size:   4;
  tab-size:      4;
}
.comment.docstring {
  color: #586e75;
  font-style: italic;
}
.keyword {
  color: #b58900;
}
.constant.numeric {
  color: #dc322f;
}
.constant.string {
  color: #859900;
}
.trigger {
  color: #268bd2;
}
.variable {
  color: #2aa198;
}
.symbol {
  color: #93a1a1;
  font-weight: bold;
}
.syntax {
  color: #93a1a1;
}
.not {
  color: #6c71c4;
}
.ace-tm{
  background-color: #1c313e !important;
  color: white !important;
}
.ace_cursor{
  color: white !important;
}
.ace_gutter{
  background-color: #77848c !important;
}
.ace_gutter-active-line{
  background-color: #1C313E;
}
.ace_active-line{
  background: rgba(0, 0, 0, 0.2) !important;
}






/* ---------- LOG SECTION ---------- */

.exec_button,
.reload_button{
  position: relative;
  background-color: #1C313E;
  border: none;
  color: white;
  padding: 25px 25px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #35434F;
  /*margin: 4px 2px;*/
  cursor: pointer;
}
.exec_button > img{
  position: absolute;
  top: 0;
  left: 0;
}
.reload_button > img{
  position: absolute;
  top: 2px;
  left: 4px;
}





/* ---------- MOBILE SECTION ---------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px){

 /* #desktopWrapper{
    display: none;
  }*/
  #mobileWrapper{
    display: block;
  }
  .mobileStream{
    background-color: orange;
    height: 100%;
  }
/*  .mobileIDE{
    background-color: purple;
    height: 100%;
  }*/

  .mobileChat{
    background-color: green;
    height: 100%;
  }
/*  #chatlioWidgetPlaceholder{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    background: pink;
  }*/
/*.textAreaDiv{
  background: yellow;
}*/





/* ---------- MOBILE MENU TABS ---------- */

  ul > li{
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav-pills > li > a{
    border-radius: 0 !important;
    color: #fff !important;
  }
  .nav>li>a:link{
    background-color: #475F6D;
    /*height: 20%;*/
  }
/*  .nav>li>a:hover{
    background-color: #475F6D !important;
  }*/













/*#myCarousel .nav a small{
    display: block;
}*/
/*div:focus {
  background-color:black;
}*/
/*#myCarousel .nav{
    background: #eee;
}*/

/*.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }*/









